.multiple-borders {
  height: auto;
  margin-top: 20px;
  max-width: 200px;
  position: relative;
  float: right;
  margin-right: 120px;
  -webkit-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

     -moz-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

          box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

}




/* for table*/
table{
  margin-left: -80px;
  float: left;
}
table.blueTable {
  font-family:  "Courier New", Courier, monospace;
  border: 2px solid #1C6EA4;
  /*background-color: #FFFFFF;*/
  width: 60%;
  text-align: right;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 20px solid rgba(0, 0, 0, 0);
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 14px;
}
table.blueTable td:nth-child(even) {
  text-align: left;
  background: #7FD9E6;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
