<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>chart</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js">

  </script>
  <script src="dist/js/chart.utils.js"></script>
</head>

<body>
  <canvas id="canvas"></canvas>
</body>

</html>
