<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="dist/img/avatar.jpg" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p><%=fullname%></p>

      <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
    </div>
  </div>

  <ul class="sidebar-menu">
  <li class="active treeview">
    <a href="/search">
      <i class="fa fa-edit"></i> <span>Search Profile</span>
    </a>

  </li>
  </ul>
  <!-- search form -->
  <!-- <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="id" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form> -->
  <ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
      <a href="/profile/data">
        <i class="fa fa-dashboard"></i> <span>Personal Profile</span>
      </a>

    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Academic Performance</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/graduations/graduationsdata"><i class="fa fa-circle-o"></i>Graduation</a></li>
        <li><a href="/results/sscandhsc"><i class="fa fa-circle-o"></i>HSC & SSC</a></li>
        <!-- <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i></a></li> -->
      </ul>
    </li>

    <li><a href="/projects/projectsdata"><i class="fa fa-book"></i>Projects</a></li>




    <li class="treeview">
      <a href="#">
        <i class="fa fa-share"></i> <span>Co-Curricular Activities</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/publications/publicationsdata"><i class="fa fa-circle-o"></i>Publications</a></li>
        <li><a href="/awards/awardsdata"><i class="fa fa-circle-o"></i>Awards</a></li>
      </ul>
    </li>


    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Who are you?</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/interests/interestsdata"><i class="fa fa-circle-o"></i>Interests</a></li>
        <li><a href="/hobbies/hobbiesdata"><i class="fa fa-circle-o"></i>Hobbies</a></li>

      </ul>
    </li>


  </ul>
</section>
