<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <%include partials/basicnav.ejs%>
    <div class="container">
      <h2>SSC Results</h2>
      <p>You can update result from the Right Icon</p>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Board</th>
            <th>Institution</th>
            <th>Passing Year</th>
            <th>GPA</th>
            <th>Edit Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SSC</td>
            <td>Jessore</td>
            <td>Taragunia High School</td>
            <td>2011</td>
            <td>5.00</td>
            <td><a class="btn btn-xs btn-warning btn-edit" href="">Edit</a>
              <a class="btn btn-xs btn-danger btn-edit" href="">Delete</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="container">
      <h2>HSC Results</h2>
      <p>You can update result from the Right Icon</p>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Board</th>
            <th>Institution</th>
            <th>Passing Year</th>
            <th>GPA</th>
            <th>Edit Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HSC</td>
            <td>Rajshahi</td>
            <td>New Govt. Degree College,Rajshahi</td>
            <td>2013</td>
            <td>5.00</td>
            <td><a class="btn btn-xs btn-warning btn-edit" href="">Edit</a>
              <a class="btn btn-xs btn-danger btn-edit" href="">Delete</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="container">
      <h2>Graduation Results</h2>
      <p>You can update result from the Right Icon</p>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Board</th>
            <th>Institution</th>
            <th>Passing Year</th>
            <th>GPA</th>
            <th>Edit Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HSC</td>
            <td>Rajshahi</td>
            <td>New Govt. Degree College,Rajshahi</td>
            <td>2013</td>
            <td>5.00</td>
            <td><a class="btn btn-xs btn-warning btn-edit" href="">Edit</a>
              <a class="btn btn-xs btn-danger btn-edit" href="">Delete</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


</body>

</html>
