section#addproject {
  width: 700px;
  float: left;
}

#field {
  margin-bottom: 5px;
}

.form-control {
  float: left;
  display: block;
  width: 250px;
  height: 33px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-search input, .form-inline input, .form-horizontal input,
 .form-search textarea, .form-inline textarea, .form-horizontal textarea,
 .form-search select, .form-inline select, .form-horizontal select,
 .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline,
 .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input,
 .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend,
 .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
  height: auto;
}
